.App {
  background: #654ea3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
margin-top: 0;

}

.search-bar{
min-height: 10vh;
display: flex;
justify-content: center;
align-items: center;

}
.search-field{

  border-radius: 5%;
 width: 50%;
padding: 10px;
  
}
.search-btn{
  background: #bc4e9c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  border-radius: 5%;
  padding: 10px 20px;

}
.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}